# build
lib/

# dependencies
node_modules/

# misc
.cache/
.idea/
.vscode/
.DS_Store
*.iml
*.log

# tests
coverage/

# yarn
.yarn/*
!.yarn/patches/
!.yarn/plugins/
!.yarn/releases/
!.yarn/sdks/
!.yarn/versions/
