# build
lib/

# dependencies
node_modules

# misc
.DS_Store
.cache/
.idea/
.iml
.log
.vscode/

# tests
coverage/

# yarn
.yarn/*
!.yarn/patches/
!.yarn/plugins/
!.yarn/releases/
!.yarn/sdks/
!.yarn/versions/
